.mainInf {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.caption {
  font-size: 18px;
  font-weight: 700;
}

.additionalInf {
  padding: 10px 0;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.additionalInf > ul {
  padding-left: 35px;
  list-style: disc;
  text-decoration: underline;
  color: #009ce7;
}
